/* .container-fluid .row .col-1 .dropdown button:hover {
    transform: rotate(180deg);
} */

/* .navbar {
    background-color: #2874f0;
}

.navbar .container-fluid .navbar-nav .nav-item .nav-link {
    color: white;
} */
body {
    font-family: Arial, sans-serif;
    grid-auto-rows: inherit;
    overflow-x: auto;
}

body div.nav_div {
    background-color: #2874f0;
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 3;
}

body div.cat_container {
    z-index: 2;
}

body div.nav_div div.row div form.row input:focus {
    border: none;
}

body a{
    text-decoration: none;
}

body div.dropdown button {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    height: 21px;
}

.btn_on_img img:hover {
    transform: scale(1.2);
    z-index: 4;
}

.btn_1 {
    display: none;
    position:absolute; 
    top: 40%; left: 50%; 
    transform: translate(-50%, -50%);
}


.btn_on_img:hover .btn_1 {
    display: block;
    background-color: #2874f0;
    opacity: 0.8;
    border: none;
    z-index: 4;
}

/* @media (max-width: 768px) {
    .carousel-container .row {
        overflow: scroll;
    }
} */
/* @media (min-width: 768px) {
    .carousel-inner .carousel-item {
        overflow-x: scroll;
    }
} */


/* @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
} */

/* medium and up screens */
/* @media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
    transform: translateX(0);
} */



